.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 6rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-text-center {
  text-align: center; }

.row {
  max-width: 114rem;
  margin-bottom: 6rem;
  background-color: #f7f7f7;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 8rem; }
  .row .col-1-2 {
    width: calc((100% - 8rem) / 2); }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  padding: 2rem;
  background-color: #fff; }

.header {
  position: relative;
  height: 90vh;
  background-image: linear-gradient(to right bottom, rgba(40, 180, 133, 0.8), rgba(126, 213, 111, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem; }
  .header__logo {
    height: 3.5rem; }
  .header__heading {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .header__heading-text {
      color: #fff;
      text-transform: uppercase;
      line-height: 2; }
      .header__heading-text--main {
        font-size: 6rem;
        letter-spacing: 4.6rem;
        display: inline-block;
        font-weight: 400;
        animation: slideRight 3s ease; }
      .header__heading-text--sub {
        display: block;
        font-size: 2rem;
        letter-spacing: 2.1rem;
        font-weight: 400;
        animation: slideLeft 3s ease; }

.btn:visited, .btn:link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .3rem;
  font-size: 1.5rem;
  transition: all .2s; }

.btn--animated {
  animation: slideBottom 2s ease .7s;
  -webkit-animation-fill-mode: backwards; }

.btn:hover {
  transform: translateY(-3px); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.377); }

.btn--white {
  border-radius: 10rem;
  box-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.295);
  padding: 1.2rem 3rem;
  background-color: #fff;
  color: #777; }

.btn::after {
  content: "";
  display: inline-block;
  border-radius: 10rem;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--white::after {
  background-color: #fff; }

.btn:hover::after {
  transform: scale(1.6);
  opacity: 0; }

.btn--green {
  color: #7ed56f;
  padding: .5rem 2rem;
  border-radius: 0;
  box-shadow: 0 0 #fff;
  font-size: 1.2rem;
  margin-left: 2rem; }
  .btn--green:hover {
    background-color: #7ed56f;
    color: #fff; }

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-30rem); }
  50% {
    transform: translatex(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(30rem); }
  50% {
    transform: translatex(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes slideBottom {
  0% {
    opacity: 0;
    transform: translatey(10rem); }
  100% {
    transform: translate(0); } }

.section-about {
  background-color: #f7f7f7;
  padding: 20rem 0;
  margin-top: -10vh; }
  .section-about .heading-secondary {
    font-size: 2.5rem;
    font-weight: 400;
    display: inline-block;
    letter-spacing: .1rem;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #55c57a, blue);
    -webkit-background-clip: text;
    color: transparent; }
  .section-about .heading-tertiery {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 400; }
  .section-about .composition-paragraph {
    font-size: 1.2rem; }
    .section-about .composition-paragraph:not(:last-child) {
      margin-bottom: 1rem; }
  .section-about .composition-photo-box {
    position: relative;
    height: 100%; }
    .section-about .composition-photo-box .composition-photo {
      width: 50%;
      position: absolute;
      outline-offset: 1rem;
      transition: all .1s;
      border-radius: .5rem; }
      .section-about .composition-photo-box .composition-photo--1 {
        top: -2rem;
        left: 0; }
      .section-about .composition-photo-box .composition-photo--2 {
        left: 15rem;
        top: 0; }
      .section-about .composition-photo-box .composition-photo--3 {
        top: 4rem;
        left: 4rem; }
      .section-about .composition-photo-box .composition-photo:hover {
        outline: 10px solid #7ed56f;
        transform: scale(1.1); }
