.footer {
    padding: 5rem;
    background-color: $color-grey-dark-3;
    height: 50rem;

    &__logo-box {
        text-align: center;
    }
    &__navigation-list {
        list-style: none;
        border-top: 1px solid $color-grey-light-2;
        display: inline-block;
    }
    &__navigation-item {
        padding-top: 2rem;
        display: inline-block;

        &:not(:last-child) {
            margin-right: 3rem;

        }

    }

    &__navigation-link {
        color: $color-grey-light-2;
        font-size: 1.5rem;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;


    }
    .copy-right {
        border-top: 1px solid $color-grey-light-2;
        padding-top: 2rem;
        font-size: 1.5rem;
        color: $color-grey-light-2;
        display: inline-block;
    }
}