.story {
    width: 75%;
    background-color: rgba($color-white, .5);
    box-shadow: .5rem 2rem 6rem rgba($color-black, 0.1);
    margin: 0 auto;
    padding: 6rem;
    padding-left: 9rem;
    border-radius: 3px;
    font-size: 1.4rem;
    transform: skewX(-12deg);

    @include media(tab-port) {
        width: 100%;
        padding: 4rem;
    }

    @include media(phone) {
        transform: skewX(0);
    }

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
        position: relative;

        @include media(phone) {
            transform: translateX(-3rem) skewX(0);
        }

    }
    &__photo {
        height: 100%;
        transform: translateX(-4rem) scale(1.5);
        transition: all .4s;
    }

    &__text {
        transform: skewX(12deg);

        @include media(phone) {
            transform: skewX(0);
        }

    }
    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 1.5rem;
        color: #fff;
        text-align: center;
        text-transform: capitalize;
        transform: translate(-50%, 25%);
        z-index: 1;
        opacity: 0;
        transition: all .4s;
    }
    &:hover &__caption {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    &:hover &__photo {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }
}