.section-about {
    background-color: #f7f7f7;
    padding: 20rem 0;
    margin-top: -10vh;

    .heading-secondary {
        font-size: 2.5rem;
        font-weight: 400;
        display: inline-block;
        letter-spacing: .1rem;
        text-transform: uppercase;
        background-image: linear-gradient(to right, $color-primary-light, $color-blue);
        -webkit-background-clip: text;
        color: transparent;
    }
    .heading-tertiery {
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 400;
    }
    .composition-paragraph {
        font-size: 1.2rem;
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
    .composition-photo-box {
        position: relative;
        height: 100%;
        
        .composition-photo {
            width: 50%;
            position: absolute;
            outline-offset: 1rem;
            transition: all .1s;
            border-radius: .5rem;

            &--1 {
                top: -2rem;
                left: 0;
            }

            &--2 {
                left: 15rem;
                top: 0;
            }
            &--3 {
                top: 4rem;
                left: 4rem;
            }

            &:hover {
                outline: 10px solid $color-primary;
                transform: scale(1.1);
            }
        }
    }
}